.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-inner {
    background-color: #fff;
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
    background-color: #fff; /* White background */
    padding: 8px; /* Adjust padding as needed */
    border-radius: 10%; /* Rounded borders for a circular button */
  }
  